@import "tailwindcss";

:root {
  font-family: var(--font-vazirmatn), sans-serif;
}

html,
body {
  @apply p-0 m-0 box-border;
}

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --font-vazirmatn: "Vazirmatn", sans-serif;
}
